#basketBackground {
    display: none;
    z-index: 999;
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    background:  rgba(0, 0, 0, 0.8);

}

#basketContainer{
    display: none;
    padding: 20px;
    z-index: 1000;
    position: absolute;
    width: 80%;
    height: 70%;
    left: 50%;
    top: 50%;
    background-color: rgba(200, 200, 200, 0.8);
    transform: translate(-50%,-50%);
    border: 1px solid  rgba(64, 64, 64, 0.2);
  
}

.title {
    position:relative;
    display:inline-block;
    height: 5em;
    width: 50%;
}

.basket {
    position:relative;
    display:inline-block;
    height: 5em;
    width: 10%;
}

.user {
    position:relative;
    display:inline-block;
    height: 5em;
    width: 10%;
}

table, thead, tbody {
    width:80%;
    border: 1px solid #a0a0a0;
}

tr:hover{
    background-color:aliceblue;
}

td {
 padding:0.4em;
 border-bottom: 1px solid #c0c0c0;
 font-family: 'Dosis', sans-serif;
 font-size: 0.9em;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    color: white;
    background-color: black;
    height: 5em;
    width: 100%;
    float:right;
}

nav {
    position: fixed;
    width:2em;
    margin: 0;
    padding-top: 5em;
    padding-left: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

.article {
    display: block-inline;
    margin-left: 170px;
    padding-top: 5em;
    padding-left: 1em;
    overflow: hidden;
}

.centered {
    text-align: center;
}

.highlight {
    background-color: lightcoral;
}
.hidden {
    display:none;
}